* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.background-gradient {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to right, rgb(21, 21, 177), rgb(116, 16, 173));
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
}

.container-todo {
  height: 95vh;
  width: 350px;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
}

.container-todo h5 {
  text-align: center;
  font-size: 25px;
}

h5,
.container-input,
.container-activity {
  margin-bottom: 20px;
}

.container-input input,
.container-input button {
  padding: 10px;
  margin: 5px;
}

.container-input button {
  border: none;
  border-radius: 5px;
  background-color: rgb(20, 105, 161);
  color: white;
  transition: background-color 0.3s;
  font-weight: bold;
}

.container-input button:hover {
  background-color: rgb(16, 16, 124);
}

#input-feild {
  width: 60%;
}

#save-btn {
  width: 30%;
}

.container-activity {
  padding: 10px;
}

.list-activity {
  margin-top: 10px;
  padding: 5px;
  height: 65vh;
  overflow: auto;
}

.list-activity .activity {
  width: 100%;
  margin: 10px 0px;
  border-radius: 5px;
  padding: 8px;
  border: 0.5px solid rgb(156, 153, 153);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list-activity .activity button {
  padding: 5px;
  border: none;
  width: 25px;
  border-radius: 5px;
  background-color: rgb(218, 61, 61);
  color: white;
}

.list-activity .activity button:hover {
  font-weight: bold;
}

@media only screen and (min-width: 1900px) {
  .container-todo {
    width: 450px;
  }

  .list-activity {
    height: 74vh;
  }

  #save-btn {
    width: 32%;
  }
}
